<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeqifu.bus.mapper.RentMapper">

  <insert id="addRent" parameterType="com.yeqifu.bus.domain.Rent">
    insert into bus_rent (rentid, price, begindate, returndate, rentflag, identity, carnumber, opername, createtime)
    values (#{rent.rentid}, #{rent.price}, #{rent.begindate}, #{rent.returndate}, #{rent.rentflag}, #{rent.identity}, #{rent.carnumber}, #{rent.opername}, #{rent.createtime})
  </insert>

  <select id="queryAllRent" resultType="com.yeqifu.bus.domain.Rent">
    select
        rentid as rentid,
        price as price,
        begindate as begindate,
        returndate as returndate,
        rentflag as rentflag,
        identity as identity,
        carnumber as carnumber,
        opername as opername,
        createtime as createtime
    from bus_rent
    <where>
      <if test="req.rentid!=null and req.rentid!=''">
        and rentid like concat("%",#{req.rentid},"%")
      </if>
      <if test="req.carnumber!=null and req.carnumber!=''">
        and carnumber like concat("%",#{req.carnumber},"%")
      </if>
      <if test="req.identity!=null and req.identity!=''">
        and identity like concat("%",#{req.identity},"%")
      </if>
      <if test="req.startTime!=null">
        and createtime >=#{req.startTime}
      </if>
      <if test="req.endTime!=null">
        and createtime <![CDATA[<=]]>#{req.endTime}
      </if>
      <if test="req.rentflag!=null">
        and rentflag=#{req.rentflag}
      </if>
    </where>
    order by createtime desc
  </select>

  <update id="updateRent" parameterType="com.yeqifu.bus.domain.Rent">
     update bus_rent
        set price = #{rent.price},
        begindate = #{rent.begindate},
        returndate = #{rent.returndate},
        identity = #{rent.identity},
        carnumber = #{rent.carnumber},
        opername = #{rent.opername}
      where rentid = #{rent.rentid}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.yeqifu.bus.domain.Rent">
    select
      rentid, price, begindate, returndate, rentflag, identity, carnumber, opername, createtime
    from bus_rent
    where rentid = #{rentid}
  </select>

  <delete id="deleteRent" parameterType="java.lang.String">
    delete from bus_rent
    where rentid = #{rentid}
  </delete>
</mapper>